.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    align-items: center;
    button{
        margin: 0;
        border-radius: 1em;
        border: 1px solid #ccc;

        &:focus{
            outline:none;
        }
    }

    .start{
        background-color: lightgreen;
    }

    .stop{
        background-color: salmon;
    }
}